$mainColor :  hsl(26, 100%, 55%);
$paleOrange : hsl(25, 100%, 94%) ;
$veryDarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(230, 60%, 98%);
$White: hsl(0, 0%, 100%);


//tepography
$fontSize : 16px;
$fontFamily : 'Kumbh Sans';
$StrongFontWeight : 700;
$lightFontWeight : 400;


//responsive widgets
$mobile : 375px ;
$desktop : 1440px;
$small : 576px ;
$medium : 768px ;
$large : 992px ;
$xl : 1200;
$xxl : 1400 ;